@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

img {
    width: 100vw;
}

a {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
    display: block;
    background-color: darkred;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.719);
    font-weight: bolder;
}

a:hover {
    background-color: rgb(202, 2, 2);
    color: rgb(255, 255, 255);
    transition: .4s;
}

a:active {
    background-color: rgb(255, 0, 0);
}


